<h1>Something to do before you kick the Bucket</h1>
<!-- this is where the picture goes, avatar thing -->
	<h2><%= @post.title %></h2>
	<h3><%= @post.author %></h3>
<%= link_to 'Back' post_index_path %>
